#[submodule "specification"]
#	path = specification
#	url = https://github.com/CycloneDX/specification
[submodule "specification"]
	path = specification
	url = https://github.com/Nicolas-Peiffer/specification
